<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>About Me</title>
  </head>
  <body>
    <p>
      Aside from software development, I'm both a Seahawks and Mariners fan.
      I lived in a residential Zen meditation center for almost fifteen years.
      I enjoy going to meetups, tech and otherwise, and I've got a history of
      being involved with Toastmasters that I'd like to extend in the future.
      I'm a cat owner, though my sister's dog might prefer otherwise.</p>
  </body>
</html>
