<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Dojos</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}" />
  </head>
  <body>
    <h2>Dojo form</h2>
    <form action="">
      <label for="fname">First Name</label>
      <input name="fname" type="text" id="fname"/>
      <label for="lname">Last Name</label>
      <input name="lname" type="text" id="lname"/>
      <label for="ready">Ready?</label>
      <input name="ready" type="checkbox" value="ready"/>
    </form>
  </body>
</html>
