<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Ninjas</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}" />
  </head>
  <body>
    <h2>Ninjas</h2>
    <p>A ninja (忍者), ninpō (忍法),[1] or shinobi (忍び, "to sneak") was a covert agent or mercenary in feudal Japan. The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare.[2] Their covert methods of waging irregular warfare were deemed dishonorable and beneath the samurai-caste, who observed strict rules about honor and combat.</p>
    <p>See more at <a href="https://en.wikipedia.org/wiki/Ninja">Wikipedia</a></p>
  </body>
</html>
